<div class="dashboard">
    <h2>Dashboard</h2>
  
    <div *ngFor="let status of getStatuses()" class="status-section">
      <h3>{{ status | titlecase }}</h3>
  
      <div *ngIf="booksByStatus[status] && booksByStatus[status].length > 0; else noBooks">
        <ul class="book-list">
          <li *ngFor="let book of booksByStatus[status]" class="book-card">
            <img [src]="book.cover" alt="{{ book.title }} cover" class="book-cover" />
            <div class="book-info">
              <h4>{{ book.title }}</h4>
              <p><strong>Author:</strong> {{ book.author }}</p>
              <p><strong>Categories:</strong> {{ getCategoryNames(book) }}</p>
            </div>
          </li>
        </ul>
      </div>
  
      <ng-template #noBooks>
        <p class="no-books-message">No books in this status 🍂</p>
      </ng-template>
    </div>
  </div>    
  