/* You can add global styles to this file, and also import other style files */
body {
    background: 
        linear-gradient(rgba(149, 116, 76, 0.4), rgba(139, 89, 19, 0.4)), 
        url('assets/img/background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    margin: 0;
}