<h2>Sign Up</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="name" style="font-weight: bold;">Name:</label>
    <input type="text" id="name" formControlName="name" required autocomplete="name" /><br /><br />
  
    <label for="email" style="font-weight: bold;">Email:</label>
    <input type="email" id="email" formControlName="email" required autocomplete="email" /><br /><br />
  
    <label for="password" style="font-weight: bold;">Password:</label>
    <input type="password" id="password" formControlName="password" required autocomplete="current-password" /><br /><br />
  
    <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
  </form>
  

<p>Already have an account? <a routerLink="/login">Sign In!</a></p>
