.forum-form {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}
.entry-opt{
    font-family: 'Dongle', sans-serif; 
    font-size: 3rem; 
    font-weight: 600; 
    color: #8d6748;   
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;  
}

.forum-form h2 {
    font-family: 'Dongle', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #8d6748;
    text-align: center;
    margin-bottom: 20px;
}

.forum-form input, .forum-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fcebd3;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

.forum-form input:focus, .forum-form textarea:focus {
    outline: none;
    border-color: #8d6748;
    box-shadow: 0 0 5px rgba(141, 103, 72, 0.5);
}

.forum-form button {
    background-color: #8d6748;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forum-form button:hover {
    background-color: #a97d5d;
}