<div class="review-list container mt-4">
    <br>
    @if(loading) {
      <div class="text-center my-3">Loading reviews...</div>
    } @else {

      <!-- Sin reseñas -->
      @if(reviews.length === 0) {
        <div class="text-center my-3">No reviews yet. Feel free to leave your opinion!</div>
      } @else {

        <!-- Lista de reseñas -->
        <ul class="list-unstyled row gx-3 gy-4">
          @for(review of reviews; track review.id; let i = $index) {
            <li class="col-sm-6 col-md-4">
              <div class="card h-100 p-3 shadow-sm position-relative">
                <small class="review-date text-muted">
                    {{ review.created_at | date: 'short' }}
                  </small>
  
                <!-- Autor -->
                <p class="review-author mt-4">
                  Review by:<br>
                  <strong>{{ review.user.name }}</strong>
                </p>
  
                <!-- Galletas para el rating -->
                <div class="mb-2 fs-5">
                  @for(cookie of [1,2,3,4,5]; track cookie) {
                    <span [class.text-muted]="review.rating < cookie">🍪</span>
                  }
                </div>
  
                <!-- Comentario -->
                <p class="mb-0">{{ review.comment }}</p>
              </div>
            </li>
          }
        </ul>
      } 
    } 
    <br>
  </div>  