<header>
  <div class="header-content">
    <img src="assets/img/logo.png" alt="{{title}}" class="logo">
    <p class="subtitle">The perfect place for book lovers... and cookies!</p>

    @if(!(authService.isAuthenticated() || (authService.isLoading$ | async))) { 
      <button class="login-btn">
        <a routerLink="/login"><b>Log In</b></a>
      </button>
    }

    @if(authService.isAuthenticated() && !(authService.isLoading$ | async)) { 
      <button class="logout-btn" (click)="authService.logout()">
        <b>Log Out</b>
      </button>
    }
  </div>
</header>

<nav>
  <ul class="nav-list">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/stories">Stories</a></li>
  </ul>
</nav>
