@if(authService.isAuthenticated()) {
    <header>
        <div class="header-content">
            <h1>{{ title }}</h1>
            <p class="subtitle">La página perfecta para amantes de los libros... ¡y las galletas!</p>
            <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
        </div>
    </header>
    <nav>
        <ul class="nav-list">
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/books">Libros</a></li>
        </ul>
    </nav>
    }
    